<p-toast></p-toast>
<div class="card">
    <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
    <p-table #dt [value]="UserData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
        [globalFilterFields]="['UserId','FirstName','LastName','Email','RoleId','RoleName',]"
             [loading]="isDataLoading"  >
        <ng-template pTemplate="caption">
            <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                <span class="p-input-icon-left w-full sm:w-20rem">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="User Search" class="w-full" />
                </span>
                <div class="flex">
                    <button pButton class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1 ml-0 md:ml-3" icon="pi pi-download" label="Download CSV" (click)="downloadFile()" ></button>
                    <div>
                        <input type="file" id="fileInput" style="display: none" (change)="uploadFile($event)">
                        <label pButton type="button" class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1 ml-0 md:ml-3"icon="pi pi-upload" label="Upload CSV" for="fileInput"></label>
                    </div>
                    <button  (click)="showCreateUserDialog()" pButton class="p-button-primary w-full sm:w-auto flex-order-0 sm:flex-order-1  ml-0 md:ml-3" icon="pi pi-plus" label="Add User"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="firstName" class="white-space-nowrap" style="width:25%" id="firstName">First Name<p-sortIcon
                    field="firstName"></p-sortIcon></th>
                <th pSortableColumn="lastName" class="white-space-nowrap" style="width:25%" id="lastName">Last Name<p-sortIcon
                    field="lastName"></p-sortIcon></th>
                <th pSortableColumn="profilePicture" class="white-space-nowrap" style="width:10%" id="firstName">Profile picture<p-sortIcon
                    field="profilePicture"></p-sortIcon></th>
                <th pSortableColumn="Email" class="white-space-nowrap" style="width:35%">Email<p-sortIcon field="Email"></p-sortIcon></th>
<th pSortableColumn="RoleId" class="white-space-nowrap" style="width:35%">Roleid<p-sortIcon field="RoleId"></p-sortIcon></th>
<th pSortableColumn="RoleName" class="white-space-nowrap" style="width:35%">Rolename<p-sortIcon field="RoleName"></p-sortIcon></th>

                <th *ngIf="canDelete || canUpdate" class="white-space-nowrap" style="width:25%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-UserData>
            <tr (click)="showEditUserDialog(UserData)">
                <td style="width:25%; min-width:10rem;" class="cursor-pointer font-bold">
                    {{UserData.FirstName?(UserData.FirstName.length > 20 ? (UserData.FirstName | slice:0:20) + '...' : UserData.FirstName):'-'}}
                </td>
                <td style="width:25%; min-width:10rem;" class="cursor-pointer font-bold">
                    {{UserData.LastName?(UserData.LastName.length > 20 ? (UserData.LastName | slice:0:20) + '...' : UserData.LastName):'-'}}
                </td>
                <td>
                    <p-avatar image="{{ UserData.ProfileImage }}"  styleClass="ml-2" size="large" shape="circle" *ngIf="UserData.ProfileImage"></p-avatar>
                    <p-avatar image="https://evolza-org-bucket.s3.amazonaws.com/cgaas_logo/empty-profile.png" styleClass="ml-2" size="large" shape="circle" *ngIf="!UserData.ProfileImage"></p-avatar>
                </td>
                <td style="width:33%; min-width:10rem;">
{{UserData.Email ? (UserData.Email.length > 20 ? (UserData.Email | slice:0:20) + '...' : UserData.Email) : '-'}} 
</td>
<td style="width:33%; min-width:10rem;">
{{UserData.RoleId ? (UserData.RoleId.length > 20 ? (UserData.RoleId | slice:0:20) + '...' : UserData.RoleId) : '-'}} 
</td>
<td style="width:33%; min-width:10rem;">
{{UserData.RoleName ? (UserData.RoleName.length > 20 ? (UserData.RoleName | slice:0:20) + '...' : UserData.RoleName) : '-'}} 
</td>

                <td>
                    <div class="flex">

                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                            (click)="deleteUser($event,UserData)"   pTooltip="Delete"></button>
                        
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
